*,
*::after
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #040404;
}

 /* ------------------------------------------------------------------------------------------------- */
  :root {
  --shape-width: 35%;  
  --bar-width: 40px;
  --bar-height: 6px;
  --hamburger-gap: 6px;
  --foreground: #fe9162;
  --background: #fef4ea;
  --hamburger-topmargin: 15px;
  --hamburger-leftmargin: 8px;
  --animation-timing: 400ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }

  /* Logo -------------------------------*/
  .header.header{
    position: sticky;
    display: flex;
    align-items: center;
  }

  /* BANDEAU -----------------------------*/
  .bandeau{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #04041f;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
  }

  .bandeau a {
    width: 35%;
    max-width: 200px;
    height: auto;
    z-index: 1001;
  }

  .bandeau img {
    width: 100%;
  }


  #logo-img {
    transition: var(--animation-timing);
  }

  #logo-img.menu-open {
    transform: translateX(calc(100vw*0.175));
  }


  /* --------------- */
  /* Menu Hamburger */

  .hamburger-menu {
    
    --x-width:calc(var(--hamburger-height)*1.41421356237);

    display: flex;
    flex-direction: column;
    gap:var(--hamburger-gap);
    width: max-content;
    position:fixed;
    top: var(--hamburger-topmargin);
    left: var(--hamburger-leftmargin);
    cursor: pointer;
    z-index: 1004;
  }

  .hamburger-menu.hamburger-menu:has(input:checked){
  --foreground: #ffffff;
  --background: #ffffff;
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input{
    position: sticky;
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: white;
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
    pointer-events: none;
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
    position: sticky;
  }

  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
    position: sticky;
  }

  .hamburger-menu input:checked{
    opacity: 0;
    width: 0;
  }

  .hamburger-menu.hamburger-menu:has(input:checked)+.bandeau{
    translate: -100%;
  }

  .sidebar{
    position: fixed;
    top: 0;
    left:0;
    height: 100vh;
    transition: translate var(--animation-timing);
    translate: -100%; 
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-topmargin) + 2rem);
    background-color: #191919;
    color: var(--background);
    width: var(--shape-width);
    height: 100vh;
    list-style: none;
    z-index: 1003;
  }

  .sidebar li a {
    display: flex;
    list-style: none;
    color: white;
    text-decoration: none;
    height:45px;
    align-items: center;
    margin:0;
    padding:0;
  }

  .sidebar li a::before {
    content: "";
    position: absolute;
    background-color: #8a8a8a29;
    left:0;
    margin-top: -45px;
    width: 100%;
    height: 0.3px;
    z-index: 1003;
  }

  .hamburger-menu.hamburger-menu:has(input:checked)+.sidebar{
    translate: 0;
  }

  .cache-noir{
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1000;
    opacity: 0.3;
    translate: -100%;
  }
 
  .cache-noir.menu-open {
    translate: 0;
  }

  /*Section BIENVENUE */
  section.Bienvenue {
    z-index: 0;
    position:relative;
    z-index: 999;
    margin: 0;
    top:60px;
    display: flex;
    margin: 0;
    width: 100%;
    align-items: center;
    height: 600px;
    justify-content: center;
    background-image: url('../Images/GIF2.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
  }

  div.Timer {
    display: flex;
    width: 90%;
    margin:auto;
    margin-top: 10px;
    box-sizing: border-box;
    font-family: "Bank Gothic";
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .timebox {
    display: flex;
    align-items: center;
    margin:0;
    gap:40px;
  }

  .time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }  
  .time h2,
  .time p {
    margin: 0;
  }

  .time h2 {
    font-size: 40px;
    font-weight: 10;
    color: #51d4fc;
    justify-content: space-between;
  }
  .time p {
    margin: 0;
    font-size: 10px;
    font-weight: 50;
    color: #ffffff;
  }
  .texte {
    position: absolute;
    margin: 0;
    bottom: -20%;
    text-align: center;
    max-width: 60%;
  }

  #Début{
    color: #ffffff;
    gap: 1px;
  }
  #Fin{
    margin-top: 1%;
    font-weight: 1000;
    color: #fe9162;
  }

  .Bienvenue {
      transition: var(--animation-timing);
  }
  .Bienvenue.menu-open {
    transform: translateX(calc(100vw*0.175));
    overflow-x: hidden;
  }








